body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
#contener{
    height: 100vh;
    background: linear-gradient(#636364 26% , #E4E4E4 78%);
}
#rech{
    width: 100vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#rech input{
    width: 1200px;
    background-color: #636364;
}
a{
    margin-left: 2%;
}
p{
    color: white;
    font-size: larger;
    margin-left: 5%;
    margin-top: 2%;
}
button{
    background-color: #636364;
}